@tailwind base;
@tailwind utilities;
@tailwind components;

.backdrop-blur-md {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

.overflow-x-scroll	 {
    -webkit-scrollbar: hidden;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
  }
}